<h2>Publish Tweet</h2>

<form name="tweetForm" ng-app="tweetApp" ng-controller="tweetController" novalidate method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="tweet">Tweet : </label>
        <input type="text" placeholder="What's happening?" name="tweet" ng-model="tweet" ng-maxlength="140" class="form-control" required />
        <span style="color:red" ng-show="tweetForm.tweet.$dirty && tweetForm.tweet.$invalid">
            <span ng-show="tweetForm.tweet.errror.required">Enter a message</span>
            <span ng-show="tweetForm.tweet.error.maxlength">Must be equal to and less than 140 characters</span>
        </span>
    </div>

    @*<div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Add Media &hellip;
                    <input type="file" name="file" id="file">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
    </div>*@

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Tweet" />
    </div>
</form>

<script>
    var app = angular.module('tweetApp', []);
    app.controller('tweetController', function ($scope) {
    
    });
</script>